body {
  background-image: url("coin.jpeg");
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: green;
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1{
  color: whitesmoke;
  text-shadow: 1px 1px hotpink;
  margin: 0;
  margin-bottom: .5rem;
}

.input {
  border: 1px solid #666666;
  border-radius: .5rem;
  padding: .25rem;
  width: 7rem;
}

select {
  margin-left: 2rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  color: whitesmoke;
}